<div class="container">
    <div class="form-group">
      <label for="">Nombre</label>
      <input type="text" #heroName class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
    <label for="">Descripción</label>
    <input type="text" #heroDescription class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
    </div>
    <button type="button" class="btn btn-primary" (click)="addHero(heroName, heroDescription)">Añadir</button>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-4" *ngFor="let hero of heroes; let i = index">
            <div class="card mt-4">
                <div class="card-body">
                    <h4 class="card-title">{{hero.name}}</h4>
                    <p class="card-text">{{hero.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>