
<!--<ul ngbNav #nav="ngbNav" class="nav-tabs">
  <li ngbNavItem>
    <a ngbNavLink>Formularios</a>
    <ng-template ngbNavContent>
      <app-form></app-form>
    </ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink>Cervezas</a>
    <ng-template ngbNavContent>
      <app-cervezas></app-cervezas>
    </ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink>Apod</a>
    <ng-template ngbNavContent>
      <app-apod></app-apod>
    </ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink>Héroes</a>
    <ng-template ngbNavContent>
      <app-heroes></app-heroes>
    </ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink>Calculadora</a>
    <ng-template ngbNavContent><app-calculator></app-calculator></ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="nav"></div>-->


<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-2">
  <a class="navbar-brand" href="#">Angular</a>
  <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
      aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item"><a routerLink="/calculator" routerLinkActive="active" class="nav-link">Calculadora</a></li>
      <li class="nav-item"><a routerLink="/heroes" routerLinkActive="active" class="nav-link">Heroes</a></li>
      <li class="nav-item"><a routerLink="/apod" routerLinkActive="active" class="nav-link">Apod</a></li>
      <li class="nav-item"><a routerLink="/cervezas" routerLinkActive="active" class="nav-link">Cervezas</a></li>
      <li class="nav-item"><a routerLink="/form" routerLinkActive="active" class="nav-link">Formulario</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
