<table>
    <tr>
        <td><button (click)="handleClick('7')">7</button></td>
        <td><button (click)="handleClick('8')">8</button></td>
        <td><button (click)="handleClick('9')">9</button></td>
        <td><button (click)="handleClick('x')">x</button></td>
    </tr>
    <tr>
        <td><button (click)="handleClick('4')">4</button></td>
        <td><button (click)="handleClick('5')">5</button></td>
        <td><button (click)="handleClick('6')">6</button></td>
        <td><button (click)="handleClick('-')">-</button></td>
    </tr>
    <tr>
        <td><button (click)="handleClick('1')">1</button></td>
        <td><button (click)="handleClick('2')">2</button></td>
        <td><button (click)="handleClick('3')">3</button></td>
        <td><button (click)="handleClick('+')">+</button></td>
    </tr>
    <tr>
        <td><button (click)="handleClick('/')">/</button></td>
        <td><button (click)="handleClick('0')">0</button></td>
        <td><button (click)="handleClick('.')">.</button></td>
        <td><button (click)="handleClick('=')">=</button></td>
    </tr>
</table>