<table>
    <tr><td><button (click)="haceClick(7)">7</button></td><td><button (click)="haceClick(8)">8</button></td><td><button (click)="haceClick(9)">9</button></td><td><button (click)="haceClick('-')">-</button></td></tr>
    <tr><td><button (click)="haceClick(4)">4</button></td><td><button (click)="haceClick(5)">5</button></td><td><button (click)="haceClick(6)">6</button></td><td><button (click)="haceClick('+')">+</button></td></tr>
    <tr><td><button (click)="haceClick(1)">1</button></td><td><button (click)="haceClick(2)">2</button></td><td><button (click)="haceClick(3)">3</button></td><td><button (click)="haceClick('x')">x</button></td></tr>
    <tr><td><button (click)="haceClick('C')">C</button></td><td><button (click)="haceClick(0)">0</button></td><td><button>=</button></td><td><button (click)="haceClick('/')">/</button></td></tr>
    </table>