<div class="form-group">
    <label for=""></label>
    <input type="text" #heroName class="form-control" name="" id="" aria-describedBy="helped" placeholder="">
    <small id="helpId" class="form-text text-muted">Nombre del héroe</small>
    <input type="text" #heroDesc class="form-control" name="" id="" aria-describedBy="helped" placeholder="">
    <small id="helpId" class="form-text text-muted">Descripción del héroe</small>
</div>
<button class="btn btn-primary" (click)="addHero(heroName,heroDesc)">Añadir Héroe</button>
